<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748598775118-ba2l8ebed506dnsfugqvubf88tcgi4c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748598775118-ba2l8ebed506dnsfugqvubf88tcgi4c5</string>
	<key>API_KEY</key>
	<string>AIzaSyAPvIg-nFmjq2laNB0NwBsaLsCJC14us10</string>
	<key>GCM_SENDER_ID</key>
	<string>748598775118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etechviral.orderJe</string>
	<key>PROJECT_ID</key>
	<string>order-je-51e23</string>
	<key>STORAGE_BUCKET</key>
	<string>order-je-51e23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748598775118:ios:31dcdce5d3942d7920e21f</string>
</dict>
</plist>